{% raw %}{% extends '_base.html' %}

{% block content %}
<main role="main">
    <h1>Hello, {% endraw %}{{ cookiecutter.project_name }}{% raw %}</h1>
    <img src="/static/img/isl-logo.png" alt="ISL logo">

    <!-- mo static quick help -->
    <h2 style="margin-top: 2rem;">mo-static quick help:</h2>
    <ul style="margin-bottom: 2rem;">
        <li><a href="/help/grid.html">Suitcss Grid Outline</a></li>
    </ul>
</main>
{% endblock %}

{% block javascripts %}
{{ super() }}
<script>
    console.log('Hello, index');
</script>
{% endblock %}{% endraw %}
